
{% extends 'cuentas/base.html' %}
{% load static%}
{% block content%}

<div >

	<div class="row justify-content-center align-items-center" >
		<div class="card">
			<div class="shadow p-3 mb-5 bg-inverse">
				
	
	
					<a class="navbar-brand " href="#"><img class ="img-responsive width="100" height="100" src="{% static 'cuentas/img/bc.png' %}"></a>



					<div class="card-body">
						<h5><b>BANCO CENTRAL:</b></h5>
						<hr />
						<p> EMISIÓN DE MONEDA</p>
					</div>	

				</div>
			</div>
		<div>
	
	</div>

	




{% endblock %}

