{% extends 'cuentas/base.html' %}
{% load static %}
{% block content%}


  <div class="row justify-content-center align-items-center" >
		<div class="card">
			<div class="shadow p-3 mb-5 bg-inverse">
				<span class="border border-info">
	
					<div class="card-body">
					<h5><b>Iniciar sesión:</b></h5>
					<p></p>
				<div>
	
</div>

<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class = "btn-sm btn-info">Login</button>
</form>

<hr />
<a href="/register">Registrar usuario:</a>	
	

</div>

          </div>





{% endblock %}