{% extends 'cuentas/base.html' %}
{% block content%}

<div>
	 <h4> <center>Hola <b>{{request.user.firstname}}</b>, estos son tus contenidos:</h4>


</div>

  Tus cuentas:
   <p></p>
  <p>
  <div class="card">
  <div class="card-body">
<ol>
  {%for cuenta in mis_cuentas%}
 <li> <p> <b>  Número :</b> {{cuenta.numero_cuenta}} &nbsp&nbsp &nbsp <b> Saldo: </b>    {{cuenta.saldo}} €  </li>




 {%endfor%}
</ol>
        
    <p>  </p>
   
  </div>  
</div>
<div class="card">
  <div class="card-body">
    Tus contratos.
  </div>
</div>

<div class="card">
<span class="border border-success">
  <div class="card-body">
    Tus notificaciones. 
  </div>	
</span>

</div>


</div>
{% endblock %}